#advanced .button {
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  cursor: pointer;

  img {
    display: inline;
    padding-right: 4px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }

  span {
    position: relative;
    top: 1px;
    left: 1px;
  }
}
