#advanced {
  width: 499px;
  height: 30px;
  margin: 10px;
  margin-bottom: 20px;
  clear: both;
  display: block;
  margin-left: 12px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#topbar {
  width: 520px;
  height: 45px;
}

