#advanced li {
  list-style-type: none;
  line-height: 16px;
  height: 16px !important;
}

#advanced #left ul li, #trackers ul li {
  padding: 1px 3px 5px 0px;
  font-size: 12px;
}

#advanced #left ul li label {
  padding-left: 24px;
  padding-top: 0px;
  vertical-margin: middle;
  font-size: 12px;
}

#advanced #left ul, #trackers .name ul {
  padding-left: 10px;
  font-size: 12px;
  float: left;
  width: 182px;
  padding-top: 2px !important;
}

#advanced #right ul, #trackers .req ul {
  width: 158px;
}

#advanced #right ul.left, #advanced #right ul.right {
  float: left;
}

#advanced #right ul.left, #trackers .req ul {
  padding-left: 4px;
}
