
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



html {
  overflow: hidden;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f8f8f8));*/
  background: $white;
  height: auto;
  border: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: normal;
  border: 0;
  margin: 0;
  padding: 0;
}
#logo {
  float:left;
  display:none;
}



#icon_advanced {
  padding-top: 20px;
  padding-left: 3px;
  display: inline;

  width: 20px;
  height: 20px;
}

#topbar {
  width: 520px;
  height: 45px;
}

#advanced {
  width: 499px;
  height: 30px;
  margin: 10px;
  margin-bottom: 20px;
  clear: both;
  display: block;
  margin-left: 12px;
}

#advanced .button {
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  cursor: pointer;
}

#advanced .button img {
  display: inline;
  padding-right: 4px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

#advanced .button span {
  position: relative;
  top: 1px;
  left: 1px;
}

#advanced .more {
  padding-top: 3px !important;
}

#advanced .bang {
  padding-top: 5px !important;
}

h2 {
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #858585;
}

#advanced #left, #trackers .name {
  float: left;
  width: 182px;
}


#advanced #right h2, #trackers .req {
  padding-left: 5px;
}

#advanced #right, #trackers .req {
  float: left;
  width: 317px;
  padding-bottom: 6px;
}

.left {
   float: left;
}

.clearfix {
   clear: both;
}

.hide { display: none; }

#reload_tab {
   border-radius: 3px;
   padding: 3px 5px 3px 5px;
   font-size: 12px;
   cursor: pointer;
   background: $blue;
   color: $white;
   margin-bottom: 0.5em;
   width: 5em;
}

#trackers {
    padding-top: 6em; 
    padding-left:1em; 
    padding-bottom:1em;
}
