blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

h2 {
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #858585;
}

